html,body{
    background: transparent;
}

img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    height: auto;
}

.linha{
    width: 10%;
    height: 5px;
    background: #AAA;
    margin: 15px 0px 15px 0px;
}

.parallax {
    position: relative;
}
.opacity{
    background: rgba(0, 0, 0, .5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
/**** HEADER ****/
.main_nav{
    padding: 0;
}

img.img-fluid.logo {
    height: 95px;
}

#menu_container #main_menu ul li a {
    color: #000;
    font-weight: bold;
}

#menu_container #main_menu ul li.active a {
    color: #A98F4F;
}

#menu_container #main_menu ul li:hover a {
    color: #A98F4F;
}

/***** MY STORY *****/
#my_story{
    padding: 50px 0px 50px 0px;
}
#my_story h1{
    font-family: 'ChaparralPro_light';
    text-transform: uppercase;
    margin: 50px 0px 50px 0px;
}
#my_story h1 span {
    font-family: 'ChaparralPro_bold';
    color: #A28548;
    font-size: 1.5em;
}

#my_story .story_image{
    padding: 0px 50px 0px 50px;
}
#my_story .image_container {
    text-align: center;
    position: relative;
}

#my_story .image_container img{
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#my_story .about-inset {
    position: absolute;
    top: 0;
    left: 0;
}

#my_story .about-freire{
    border: none !important;
    border-radius: none !important;
}

/**** BLOG *****/
#blog {
    background: url(../images/PUBLICACOES.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 140px 0;
}

#blog .opacity{
    background: rgba(162, 133, 72, .7);
}

#blog h1 {
    color: #FFF;
    font-family: 'ChaparralPro_bold';
    font-size: 3em;
    text-transform: uppercase;
}