html,body{
    background: transparent;
}

img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    height: auto;
}

.linha{
    width: 10%;
    height: 5px;
    background: #AAA;
    margin: 15px 0px 15px 0px;
}

.parallax {
    position: relative;
}
.opacity{
    background: rgba(0, 0, 0, .5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
/**** HEADER ****/
.main_nav{
    padding: 0;
}

img.img-fluid.logo {
    height: 95px;
}

#menu_container #main_menu ul li a {
    color: #000;
    font-weight: bold;
}

#menu_container #main_menu ul li.active a {
    color: #A98F4F;
}

#menu_container #main_menu ul li:hover a {
    color: #A98F4F;
}

/***** MY STORY *****/
#my_story{
    padding: 50px 0px 50px 0px;
}
#my_story h1{
    font-family: 'ChaparralPro_light';
    text-transform: uppercase;
    margin: 50px 0px 50px 0px;
}
#my_story h1 span {
    font-family: 'ChaparralPro_bold';
    color: #A28548;
    font-size: 1.5em;
}

#my_story .story_image{
    padding: 0px 50px 0px 50px;
}
#my_story .image_container {
    text-align: center;
    position: relative;
}

#my_story .image_container img{
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#my_story .about-inset {
    position: absolute;
    top: 0;
    left: 0;
}

#my_story .about-freire{
    border: none !important;
    border-radius: none !important;
}

/**** BLOG *****/
#blog {
    background: url(../images/PUBLICACOES.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 140px 0;
}

#blog .opacity{
    background: rgba(162, 133, 72, .7);
}

#blog .post_container{
    padding: 25px;
}

#blog .post_arrow{
    width: 20px;
    height: 20px;
    display: block;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    z-index: 50;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#blog h1 {
    color: #FFF;
    font-family: 'ChaparralPro_bold';
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 50px;
}
#blog .description_container{
    padding: 0px;
}

#blog .img_container{
    padding: 0px;
}

#blog .description{
    text-align: center;
    padding: 80px 2% 0 2%;
    width: 100%;
}

#blog .description_date{
    display: block;
    font-size: 9px;
    font-weight: 700;
    line-height: 12px;
    color: #a28548;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#blog .description_title{
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-bottom: 20px;
    padding: 10px 30px 13px 30px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

#blog .description_title a{
    color: #000;
}

#blog .description_category{
    display: block;
    font-size: 9px;
    font-weight: 700;
    line-height: 12px;
    color: #a28548;
    text-transform: uppercase;
}

#blog .button_post{
    position: relative;
}

/**** GALLERY ****/

#gallery {
    padding: 85px 0px 85px 0px;
    position: relative;
}

#gallery h1{
    color: #a28548;
    font-family: 'ChaparralPro_bold';
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#gallery .carousel-indicators li {
    background-color: rgba(0,0,0,.5);
}

#gallery .carousel-indicators .active {
    background-color: #000;
}

/**** USEFUL LINKS ****/
#useful{
    background: url(../images/boofa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 35px 0;
}

#useful .opacity{
    background: rgba(112, 73, 28, 0.6);
}

#useful h1{
    font-family: 'ChaparralPro_light';
    text-transform: uppercase;
    margin: 50px 0px 50px 0px;
    color: #FFF;
}

#useful h1 span {
    font-family: 'ChaparralPro_bold';
    color: #ffd57d;
    font-size: 1.5em;
    margin-left: 50px;
}

#useful p{
    color: #fff;
    font-family: 'ChaparralPro_light','Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 1em;
}